.border-layout {
    position: relative;
}

.border-layout, .border-layout * {
    box-sizing: border-box;
}

.border-layout .content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.border-layout .drag {
    position: absolute;
    border: 2px solid black;
}

.border-layout > .north {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.border-layout > .west {
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
    left: 0;
}

.border-layout > .east {
    position: absolute;
    z-index: 5;
    height: 100%;
    top: 0;
    right: 0;
}

.border-layout > .south {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
}

.border-layout > .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
